*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carosello{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  overflow: hidden;
}

.full-image{
  width: 80%;
}

.full-image .image{
  display: none;
  height: 100%;
}

.full-image .image.active{
  display: block;
}

.nav-menu{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 15.9%;
  max-height: 100%;
  overflow: hidden;
  background-color: black;
  position: relative;
}

.nav-menu .nav-image{
  opacity: 50%;
}

.nav-image.active{
  border: 5px solid white;
  opacity: 100%;
}

#btn-up, #btn-down{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  cursor: pointer;
  z-index: 900;
  font-size: 35px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
}

#btn-down{
  bottom: 5%;
}

#btn-up{
  top: 5%;
}



