*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

.container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carosello{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
}

.full-image{
  width: 80%;
}

.nav-menu{
  display: flex;
  flex-direction: column;
  width: 16%;
}

