*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

.container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carosello{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  overflow: hidden;
}

.full-image{
  width: 80%;
}

.nav-menu{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 17%;
  max-height: 100%;
  overflow: hidden;
  background-color: black;
}

.nav-menu .nav-image{
  height: calc(100% / 5);
  opacity: 50%;
}

.nav-image.active{
  border: 5px solid white;
  opacity: 100%;
}

